* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.card img{
    width: 100%;
}
.contain{
    display: flex;
    align-items: center;
    gap: 6px;
}
.contain img{
    display: block;
}
.container{
    border-radius: 32px;
    overflow: hidden;
    display: grid;
    max-width: 1300px;
    grid-template-columns: repeat(12,1fr);
    align-items: stretch;
}

.box{
    grid-column: span 3;
    position: relative;
}
.text{
    padding: 0px 24px 20px 24px;
    position: absolute;
    bottom: 0px;
    color: white;
    z-index: 20;
}
.text h2{
    font-size: 20px;
    font-size: 600;
    margin-bottom: 4px;
}
.text p,p{
    font-size: 16px;
    font-weight: 400;;
}
img{
    display: block;
}
.box1{
    background-color: #F3F4F6;
    background-image: url(resources/Background_decor.svg);
    background-repeat: no-repeat;
    grid-column: 1/7;
    grid-row: 1/2;
    z-index: 1;
    padding: 32px;
}
.box1 h2{
    font-size: 16px;
    font-weight: 400;
    color: #263FA9;
    margin-bottom: 12px;
}
.box1 h1{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 12px;
}
.box1 p{
    font-size: 16px;
    font-weight: 400;
    color: #394150;
    max-width: 45ch;
}
.box2{
    background-color: #C1B6F8;
}
.box3{
    background-color: #EDACD2;
}
.box4{
    background-image: url(resources/Background_decor.svg);
    background-repeat: no-repeat;
    background-color: #F3F4F6;
    display: flex;
    align-items: end;
    grid-row: 1/3;
    grid-column: 1/4;
    z-index: 0;
    padding: 32px;
}
.box5{
    background-color: #9DC4F8;
}
.box6{
    background-color: #F8D8B0;
}
.box7{
    background-color: #86E7D4;
}
.card{
    position: relative;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("resources/Gradient.svg") bottom/cover no-repeat;
    z-index: 10;
}

@media(max-width: 1024px){
    body{
        padding: 32px;
    }
    .box{
        grid-column: span 4;
    }
    .box1{
        grid-column: span 12;
    }
    .box4{
        grid-row: 3/4;
        background-image: none;
    }
}

@media(max-width: 640px){
    body{
        padding: 20px;
    }
    .box{
        grid-column: span 12;
    }
    .card::after{
        background-size: cover;
    }
    .box4{
        grid-row: 7/8;
        grid-column: 1/13;
    }
    .box1,.box4{
        min-height: 381px;
    }
}

.author-info a {
    text-decoration: none;
}